.stat-panel {
    width: 100%;
    border-radius: calc(12px + 1vmax);
    border: 2px solid var(--White, #FBF7F4);
    background: rgba(246, 240, 235, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--medium-gap);
    padding: var(--large-gap);
}

.stat-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.stat-panel h2 {
    text-align: left;
    white-space: nowrap
}

.stat-panel h3 {
    text-align: left;
}

@media (max-width: 1200px) {

    .stat-panel {
        padding: var(--medium-gap);
        width: 100%;
        gap: var(--small-gap);
        box-sizing: border-box;
    }
}