body {
  overflow-x: hidden;
}

.App main {
  padding-top: 1.5rem;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background: radial-gradient(circle, var(--glow-color, #F2DBC8), var(--white-color, #FBF7F4));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

h1 {
  font-size: calc(18px + 2vw);
  line-height: calc((18px + 2vw) * (7 / 6));
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

h2 {
  font-size: calc(15px + 2vw);
  line-height: calc((15px + 2vw) * (7 / 6));
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

h3 {
  font-size: calc(13px + 0.8vw);
  line-height: calc((13px + 0.8vw) * (7 / 6));
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--light-text-color, #99806D);
}

p {
  font-size: calc(10px + 0.5vw);
  line-height: calc((8px + 0.5vw) * (7 / 6));
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--super-light-text-color, #99806D);
}

button {
  flex-shrink: 0;
  border-radius: 100px;
  border: none;
  background: var(--orange-color, #EE9E61);
  box-shadow: 0px 10px 20px 0px rgba(238, 158, 97, 0.20);
  font-size: calc(13px + 0.5vw);
  line-height: calc((13px + 0.5vw) * (7 / 6));
  font-family: 'Poppins', sans-serif;
  color: var(--white-color, #FBF7F4);
  font-weight: normal;
  padding: 0.7rem 1.1rem;
}

.text-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 450px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 2px solid var(--white-color, #FBF7F4);
  background: var(--offwhite-color, #F6F0EB);
  box-shadow: 0px 10px 20px 0px rgba(194, 194, 194, 0.2);
  font-family: 'Poppins', sans-serif;
  font-size: calc(13px + 0.5vw);
  line-height: calc((13px + 0.5vw) * (7 / 6));
  font-style: normal;
  font-weight: 400;
  padding: var(--small-gap) var(--medium-gap);
  margin: 0px;
  gap: 15px;
  overflow: hidden;
}

.text-field span {
  color: var(--text-color);
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-field input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
  color: var(--text-color);
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

.text-field input::placeholder {
  color: var(--text-color);
  opacity: 0.3;
}

@media (max-width: 768px) {

  .App {
    gap: var(--large-gap);
  }

  .text-field {
    width: 70vw;
    gap: 10px;
  }

  .App main {
    padding-top: 2.5rem; /* Adjust this value based on your navbar height */
  }


}
