:root {
  --text-color: #46270D;
  --light-text-color: #99806D;
  --super-light-text-color: #c7b5a8;
  --offwhite-color: #F6F0EB;
  --white-color: #FBF7F4;
  --feint-color: #e9ddd4;
  --glow-color: #F2DBC8;
  --orange-color: #EE9E61;
  --xlarge-gap: 100px;
  --large-gap: 60px;
  --medium-gap: 30px;
  --small-gap: 10px;
  --xsmall-gap: 5px;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  min-height: 100vh;
  min-height: -webkit-fill-available;

  background-color: var(--white-color, #FBF7F4);

  margin: 0px;

}

h1 {
  font-size: calc(18px + 2vmax);
  line-height: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

h2 {
  font-size: calc(15px + 2vmax);
  line-height: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

h3 {
  font-size: calc(13px + 0.8vmax);
  line-height: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--light-text-color, #99806D);
}

p {
  font-size: calc(10px + 0.5vmax);
  line-height: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: var(--super-light-text-color, #99806D);
}

button {
  border-radius: 100px;
  border: none;
  background: var(--orange-color, #EE9E61);
  box-shadow: 0px 10px 20px 0px rgba(238, 158, 97, 0.20);
  font-size: calc(13px + 0.5vmax);
  line-height: 1.2em;
  font-family: 'Poppins', sans-serif;
  color: var(--white-color, #FBF7F4);
  font-weight: normal;
  padding: 0.5em 1em;
}