.Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.intro-header {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--xlarge-gap);
}

.intro-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    gap: var(--medium-gap);
}

.intro-image {
    width: 20vw
}

@media (max-width: 768px ) {

    .Intro {
        gap: var(--medium-gap);
        justify-content: center;
    }

    .intro-header {
        flex-direction: column;
        gap: var(--medium-gap);
    }

    .intro-image {
        width: 60vw;
    }

    .intro-description {
        width: 100%;
        height: 100%;
        align-items: center;
        gap: var(--medium-gap);
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }
}