.Problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    gap: 60px;
}

.header {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.panels {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.statPanel {
    width: 20vw;
    border-radius: 50px;
    border: 2px solid var(--White, #FBF7F4);
    background: rgba(246, 240, 235, 0.5);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--medium-gap);
    padding: var(--large-gap);
}

@media (max-width: 1200px ) {

    .Problem {
        flex-direction: column;
        gap: var(--large-gap);
    }

    .header {
        max-width: 100%;
    }

    .panels {
        flex-direction: column;
    }

    .statPanel {
        padding: 0px;
        width: 90vw;
    }
}